
html, body, div, span,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, input, button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  color: inherit;
  box-sizing: content-box;

}

body {
  background: gray;
  font-family: sans-serif;
  color: white;
}
/**/
.group:after {
  content: "";
  clear: both;
  display: block;
}
header {
  /*background-image: url("../images/conway-bg.png");*/
  width: 700px;
  margin: 30px auto;
}

#modal {
  position: absolute;
  margin: auto 353px;
  position: absolute;

}


.instructions {
  color: black;
  margin: 30px 632px;
  font-size: 20px;
}

.instructions:hover {
  color: gray;
  cursor: pointer;
}

h1 {
  text-align: center;
  font-size: 40px;
  margin: 5px;
  color: darkblue;
}

h6 {
  color: black;
  text-align: center;
  font-size: 16px;
  margin: 5px;
}

.static-elements {
  margin: 0 auto;
  width: 925px;
}

.change-grid {
  margin: 0 auto;
  width: 925px;
}

.new-setting-elements {
  margin: 0 auto;
  width: 1165px;
}

#object-place-input, #object-attack-input {
   background: white;
   padding: 5px 10px;
   border: 1px solid black;
   border-radius: 5px;
   margin: 10px;
   background: white;
   margin: 10px;
   width: 70px;
   padding: 5px 10px;
   border: 1px solid gray;
   border-radius: 5px;
   color: darkblue;
   font-size: 16px;
   text-align: center;
}

#object-place-input:focus, #object-attack-input:focus {
  outline: none;
}

#object-place-input:hover, #object-attack-input:hover {
  background: gray;
  cursor: pointer;
}

.start {
  float: left;
}

.same-setting {
  float: left;
}

.same-setting-input {
  float: left;
}

.new-setting {

}

.new-setting-input {

}
#button-box {
  margin-top: 30px;
}
#button-box button {
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px;
  background: darkblue;
}

#button-box button:hover {
  background: gray;
  cursor: pointer;
}

#button-box input {
  margin: 10px;
  width: 90px;
  padding: 5px 10px;
  border: 1px solid gray;
  border-radius: 5px;
  color: black;

}

.fa{
  color: black;
}

.fa:hover, .url:hover{
  color: darkblue;
}

li {
  list-style: none;
}

.links li:first-child {
  display: inline;
}

.github li:first-child {
  /*margin: 0 55px;*/
}
.linkedin li:first-child {
  /*margin: 0 105px;*/
}
.portfolio li:first-child {
  /*margin: 0 74px;*/
}

.links {
  float: left;
  margin: 0 83px;
}

.link-list {
  margin: 10px 70px;
}

.url {
  color: black;
}



input:focus {
  outline: none;
}

.section {
  float: left;
  margin: 0 50px;
}

.step {
  margin: 0 auto;
  width: 225px;
}

.canvas {
  margin: 20px auto;
  border: 1px solid black;
  width: 1200px;
  background: gray;
}

.canvas-container {
  height: 600px;
  margin: 0 150px;
}
