
html, body, div, span,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, input, button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  color: inherit;
  box-sizing: content-box;

}

body {
  background: gray;
  font-family: sans-serif;
  color: white;
}
.group:after {
  content: "";
  clear: both;
  display: block;
}
header {
  width: 700px;
  margin: 30px auto;
}

#modal {
  width: 100%;
  position: absolute;
  position: absolute;

}
#modal img {
  margin: 0 auto;
  display: block;
}


.instructions {
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px auto;
  background: darkblue;
  color: white;
  font-size: 20px;
  display: block;
}

.instructions:hover {
  background: gray;
  cursor: pointer;
}

h1 {
  text-align: center;
  font-size: 40px;
  margin: 5px;
  color: darkblue;
}

h6 {
  color: white;
  text-align: center;
  font-size: 16px;
  margin: 5px;
}

.static-elements {
  margin: 0 auto;
  width: 650px;
}

.restart {
  margin: 0 auto;
  width: 90px;
}

.change-grid {
  margin: 0 auto;
  width: 925px;
}

.new-setting-elements {
  margin: 0 auto;
  width: 579px;
}

.display {
  color: white;
  display: inline;
}

#object-place-input, #object-place-count-input,
#display-option, #change-colors {
   background: white;
   padding: 5px 10px;
   border: 1px solid black;
   border-radius: 5px;
   margin: 10px;
   background: white;
   margin: 10px;
   width: 150px;
   padding: 5px 10px;
   border: 1px solid gray;
   border-radius: 5px;
   color: darkblue;
   font-size: 16px;
   text-align: center;
}

#object-place-input:focus, #object-place-count-input:focus,
#display-option:focus, #change-colors:focus{
  outline: none;
}

#object-place-input:hover, #object-place-count-input:hover,
#display-option:hover, #change-colors:hover {
  background: gray;
  cursor: pointer;
}

.start {
  float: left;

}

.same-setting {
  float: left;
}

.same-setting-input {
  float: left;
}

.new-setting {

}

.new-setting-input {

}
#button-box {
  margin-top: 30px;
}
#button-box button {
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px;
  background: darkblue;
}

#button-box button:hover {
  background: gray;
  cursor: pointer;
}

#button-box input {
  margin: 10px;
  width: 90px;
  padding: 5px 10px;
  border: 1px solid gray;
  border-radius: 5px;
  color: black;

}

.fa{
  color: white;
}

.fa:hover, .url:hover{
  color: darkblue;
}

li {
  list-style: none;
}

.links li:first-child {
  display: inline;
}

.github li:first-child {
  /*margin: 0 55px;*/
}
.linkedin li:first-child {
  /*margin: 0 105px;*/
}
.portfolio li:first-child {
  /*margin: 0 74px;*/
}

.links {
  float: left;
  margin: 0 83px;
}

.link-list {
  margin: 10px 70px;
}
/*go here*/
.url {
  color: black;
}

input:focus {
  outline: none;
}

.section {
  float: left;
  margin: 0 50px;
}

.step {
  margin: 0 auto;
  width: 139px;
}

.fa-play, .fa-pause {
  color: white;
}

.canvas {
  margin: 20px auto;
  border: 1px solid black;
  width: 1200px;
  background: gray;
}

.canvas-container {
  height: 600px;
  margin: 0 150px;
}
